/* general page styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

html {
    background-color: #Faf8f2;
}

/* main content styles */
main {
    display: flex;
    flex: 30%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.title {
    margin-right: 200px;
    padding: 20px;
}

.title h1 {
    font-size: 40px;
}

.title h2 {
    padding-top: 10px;
}

.links {
    margin-right: 200px;
    padding: 0px 20px 20px 20px;
}

.links a {
    padding: 0 20px;
}